
/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

h1, h2, h3 {
    text-align: center;
    color: #333;
}

/* Hero Section */
.hero {
    position: relative;
    text-align: center;
    color: white;
    padding: 50px 0;
    background-color: black;
}

.hero-img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    opacity: 0.4;
}

.hero h1 {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    color: #f4f4f4;
}

.hero p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    color: #f0a500;
}

/* Promotions Section */
.promotions {
    background-color: #ffffff;
    padding: 30px;
}

.promotion-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.promotion-item {
    background-color: #f0ec14;
    width: 45%;
    margin: 10px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.promotion-item img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.promotion-item h3 {
    font-size: 20px;
    margin: 15px 0 10px 15px;
}

.promotion-item p {
    padding: 0 15px 15px;
}

/* Events Section */
.events {
    background-color: #f4f4f4;
    padding: 30px;
}

.event-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.event-item {
    background-color: #ebf800;
    width: 45%;
    margin: 10px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.event-item img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.event-info {
    padding: 15px;
}

.event-info h3 {
    font-size: 22px;
    margin-bottom: 10px;
}

.event-info p {
    margin: 5px 0;
    font-size: 14px;
    color: #555;
}

/* Special Offers Section */
.special-offers {
    background-color: #fff;
    padding: 30px;
    text-align: center;
}

.offer-item {
    background-color: #ffe416;
    color: white;
    padding: 15px;
    border-radius: 5px;
    margin: 10px 0;
}

.offer-item h3 {
    margin: 0;
    font-size: 22px;
}

.offer-item p {
    font-size: 16px;
}

.offer-item2 {
    background-color: #ffe416;
    color: white;
    padding: 15px;
    border-radius: 5px;
    margin: 10px 0;
}

.offer-item2 {
    align-items: left;

}

.offer-item2  h3 {
    margin: 0;
    font-size: 22px;
    text-align: right;
}

.offer-item2  p {
    font-size: 16px;
}


