body {
    font-family: 'Arial', sans-serif;
    background-color: #f3f4f6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.signup-container, .login-container {
    /* display: none; /* Both forms will be hidden initially */
     justify-content: center;
     align-items: center;
 }
 

.login-container form{
    background: white;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    width: 300px;
    text-align: center; /* Center content inside form */
} 

.login-container h2 {
    margin-top: 0;
    color: #333;
    margin-bottom: 20px;
}

/* Align labels to the left */
.login-container label {
    display: block; /* Ensures label takes up full width and is on its own line */
    text-align: left; /* Aligns the label text to the left */
    margin-bottom: 5px; /* Adds space between the label and the input */
    font-weight: bold; /* Optional: makes the label text bold */
}


.login-container input[type="text"], 
.login-container input[type="email"] ,
.login-container input[type="password"] {
    width: 100%; /* Ensures full width */
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; /* Ensures padding does not exceed the element's width */
    background-color: rgb(255, 255, 255);
}




.login-container input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #5cb85c;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login-container input[type="submit"]:hover {
    background-color: #4cae4c;
}

.signup-link {
    margin-top: 15px; /* Adds space between the form and the link */
}

.signup-link a {
    color: #5cb85c;
    text-decoration: none;
}

.signup-link a:hover {
    text-decoration: underline;
}
